.firstText{
position: relative;
}

.firstText::before{
content: "";
animation: words 20s  infinite
}

.firstText::after{
content: "";
position: absolute;
top: 0;
height: 100%;
width: calc(100% + 8px);
background-color: #0F1624;
right: -8px;
border-left:2px solid #0F1624;
animation: cursor .6s infinite,animate 20s steps(14) infinite;
}

@keyframes cursor {
    to{    border-left: 2px solid red ;   }
    }

@keyframes animate{
   
   10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
    width: 0%;
   }
   5%,20%,25%,40%,45%,60%,65%,80%,85%{
   width: calc(100% + 8px);
   }
}

@keyframes words {
    0%,33.33%{   content:"Front End Developer" }
    34%,66.66%{   content:"Back End Developer" }
    67%,99.99%{   content:"MERN stack Developer" }
    
}

.drop-shadow{
    filter: drop-shadow(0px 5px 5px rgba(255, 255, 255, 0.5));
}



.box {
    --mask:
      radial-gradient(118.51px at 50% 159.00px,#000 99%,#0000 101%) calc(50% - 106px) 0/212px 100%,
      radial-gradient(118.51px at 50% -106px,#0000 99%,#000 101%) 50% 53px/212px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
  }
  .Underline {
    position: relative;
    color: crimson;
  }
  
  .Underline::before {
    content: "";
    position: absolute;
    top:40px;
    left:50%; 
    width: 100px;
    height: 4px;
    background-color: royalblue;
    transform: translateX(-50%);
  }
  
  .Underline::after {
    content: "";
    position: absolute;
    top: 36px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 54%;
    background-color: royalblue; 
    transform: translateX(-50%); 
    
  }


  .profile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
   
  }
  .profile::before {
    content:"";
    width: 270px;
    height: 270px;
    border-radius: 50%;
    position: absolute;
    background-color:beige ;
   
    left:50% ;
    top:50%;
    transform: translateX(-50%) translateY(-50%) ;
    transition: box-shadow 0.7s ease; 
    animation: pulse 5s alternate  infinite;
  }


  @keyframes pulse{
0%{
  box-shadow: 0px 0px 12px 5px #2b6cb0
}
10%{
  box-shadow: 0px 0px 12px 5px #feb2b2
}
20%{

  box-shadow: 0px 0px 12px 5px #fbd38d
}
30%{

  box-shadow: 0px 0px 12px 5px #fddb18
}
40%{

  box-shadow: 0px 0px 12px 5px #45e6d0
}
50%{

  box-shadow: 0px 0px 12px 5px #75c0ee
}
60%{

  box-shadow: 0px 0px 12px 5px blueviolet
}
70%{

  box-shadow: 0px 0px 12px 5px #b794f4
}
80%{

  box-shadow: 0px 0px 12px 5px #b794f4
}
90%{

  box-shadow: 0px 0px 12px 5px #b7791f
}
100%{
  box-shadow: 0px 0px 12px 5px #e53e3e
}
  }
  
  .profile:hover::before{
    content:"";
    width: 280px;
    height: 280px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0px 0px 12px 2px #4299e1;
    left:50% ;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    
  }
  
  
    
  .profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  
  }
  /* .profile:hover img {
    transform: rotate(360deg);
  } */
  .waving{
    display: inline-block;
    transform-origin: 70% 70%;
    animation: wave 2s linear infinite;
  }

  @keyframes wave{
    0%, 100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(20deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-20deg);
    }
  }

  .projectcardText{
    position: relative;
    width: 100px;
   
  }

  .projectcardText::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color:#fddb18;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .edcline{
    position:relative;
  }

  .edcline::before{
    content:"";
    position: absolute;
    width:500px;
    height:4px;
    background-color: #06b6d4;
    top:50%;
    transform: translateY(-50%);
  }


  .banner {
    width: 200px;
    height: 150px;
    background-color: #3498db;
    clip-path: polygon(0% 0%, 100% 0, 100% 75%, 82% 75%, 75% 92%, 68% 75%, 0% 75%);
  }

  .icontransition:hover{
    background-color:#3498db ;
    
  }

  .resume {
    position: relative;
    width: 200px;
    height:35px;
    z-index: 1;
    background:linear-gradient(to right, rgb(236, 72, 153), rgb(239, 68, 68), rgb(234, 179, 8)); 
    cursor: pointer; /* Add a cursor pointer on hover */
  }
  
  .resume::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transform-origin: bottom right ;
    transition: transform 0.5s ease;
    transform: scaleX(1);
    z-index: -1;
  
  }
  
  .resume:hover {
  color: white;
  }
  .resume:hover::before {
    transform: scaleX(0);
  }

  

  @keyframes gradientfill {
    from{
      background-color: transparent;
      transform-origin: bottom left;
    }
    to{
   
     background-color: #06b6d4;
    }
  }